VLM_URL="vlm-url"
VLM_MODEL_NAME="vlm-model-name"

# Modèles à utiliser pour la pipeline pdf extraction (stage 1 à stage 4):
VLM_URL=""                          # url du modèle d'inférence de VLM à utiliser voit avec kieran
VLM_MODEL_NAME=""                   # nom du modèle d'inférence de VLM à utiliser voit avec kieran

# Certificat de l'autorité de certification de VLM pour le wsl Ubuntu :
VLM_CA_PEM=""                       # chemin vers le certificat de l'autorité de certification de VLM (fournit par kieran)

# Pour pipeline OCR, pdf à tester & description des images
DOC_NAME=""                         # CHANGER SELON LES TESTS ne pas mettre .pdf
ENABLE_IMAGE_DESCRIPTION=false      # Activer ou désactiver la description des images (true/false)
GEN_ID=""                           # ID de génération pour les tests 
VLM_TEMPERATURE=""                  # Température pour les générations VLM

# Modèles à utiliser pour la pipeline retrieval :
LLM_URL=""
LLM_MODEL_NAME=""

# Modèles à utiliser pour la pipeline embedding :
EMBEDDING_URL=""
EMBEDDING_MODEL_NAME=""

# Modèles à utiliser pour la pipeline reranking :
RERANKER_URL=""
RERANKER_MODEL_NAME=""

# Modèles à utiliser pour la pipeline tokenization :
TOKENIZER_URL=""
TOKENIZER_MODEL_NAME=""

# Nombre maximum de tokens pour les embeddings (à définir en fonction du modèle d'embedding utilisé) :
MAX_EMBEDDING_TOKENS=""